{% extends 'base.html' %}
{% block title %}
Boards
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Description</li>
{% endblock %}
{% block content %}
<div class="container" align="center">
<div class="card" style="width: 40rem;" align="center">
  <img class="card-img-top" src="{{card.urlImage}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{ card.description }}</p>
  </div>
</div>
</div>

{% endblock %}