{% extends 'base.html' %}
{% block title %}
News
{% endblock %}
{% block breadcrumb %}


<form method="post">
  {% csrf_token %}
<div class="input-group mb-3">
    <input type="submit" name="date" value="sort by date" class="btn btn-dark">
    <input type="submit" name="search" value="search" class="btn btn-warning">
    <input type="text" class="form-control" placeholder="Title...." id="id_subject" name="subject">
</div>
</form>
{% endblock %}
{% block content %}

{% for card in articles %}
<div class="container" align="center">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 40rem;">
  <img class="card-img-top" src={{card.urlImage}}  onerror="this.src='https://specials-images.forbesimg.com/imageserve/1196863074/960x0.jpg?fit=scale';" alt='https://specials-images.forbesimg.com/imageserve/1196863074/960x0.jpg?fit=scale'>
  <div class="card-body">
    <h5 class="card-title">{{card.title}}</h5>
    <p class="card-text">{{card.content}}</p>
    <h5 class="card-title">{{card.publishedAt}}</h5>

    <a href="{% url 'description' card.pk %}" class="btn btn-primary">description</a>
  </div>
    </div>
  </div>
</div>
</div>
{% endfor %}

{% endblock %}